<form>
     <div class="form-group">
    <label for="search">Enter keyword</label>
        <input type="text" class="form-control" name="search" id="search" placeholder="Enter keyword">    
  </div>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>